In [1]:
#finding the mean
age=[23,12,43,45,65,32,65,56,87,79,98]
import numpy as np
np.mean(age)

55.0

In [3]:
weight=[34,65,68,45,35,46,86,34]
np.mean(weight)

51.625

In [4]:
import seaborn as sns
df=sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
np.mean(df['total_bill'])

19.78594262295082

In [6]:
np.mean(df['size'])

2.569672131147541

In [7]:
np.median(df['size'])

2.0

In [9]:
np.mode(df['tip'])

AttributeError: module 'numpy' has no attribute 'mode'

In [10]:
# for finding the mode we have to use a different pythoin library
from scipy import stats
stats.mode(weight)

/tmp/ipykernel_70/3501235804.py:3: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(weight)

ModeResult(mode=array([34]), count=array([2]))